# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# autoenv script
.env
# virtual enviroment
env/*
# include the requirements.txt for the virtual enviroment
!env/requirements.txt
# PyCharm
.idea
*.db