{% extends "base.html" %}
{% import 'include_html/macros.html' as macros %}


{% block body %}

<h1>All bills</h1>
<br>
{% for bill in all_bills %}
    <h3><a href='/bills/by-id/{{ bill.id }}'>{{ bill.name }}</a><small> - {{ bill.due }}</small></h3>
    {% for charge in bill.charges %}
    <div style="margin-left: 15px">
        {% if charge.paid %}<del>{% endif %}{% if charge.bill.maintainer.id == current_user.table_id %}{{ charge.payment_method.user.name }} - {% endif %}<a href="/charge/by-id/{{ charge.id }}">{{ charge.amount }}</a>{% if charge.paid %}</del>{% endif %}
    </div>
    {% else %}
        No Charges
    {% endfor %}{% else %}
{% endfor %}
<br>

{% endblock %}
