{% extends "base.html" %}
{% import 'include_html/macros.html' as macros %}

{% block extra_header %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block body %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBill">
  Add Bill
</button>

<h2>Your charges</h2>
<br>
{% for charge in user_charges %}
<h4>{{ charge.bill.name }} - <small>${{ charge.amount }}</small></h4>
{% else %}
No charges
{% endfor %}
<br>
<h2>Outstanding Bills</h2>
<br>
{% for bill in outstanding_bills %}
<h4><a href='/bills/by-id/{{ bill.id }}'>{{ bill.name }}</a></h4>
{% else %}
No bills
{% endfor %}


<!-- Modal -->
<div class="modal fade" id="addBill" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Bill</h4>
      </div>
      <div class="modal-body">
          <form class="form-group" action="/bills" method="POST">
              {{ new_bill_form.hidden_tag() }}

              {{ macros.gen_group(new_bill_form.name) }}
              <div class="form-group {% if new_bill_form.amount.errors %}has-error{% endif %}">
                {%- for error in new_bill_form.amount.errors %}
                <label class="control-label">{{ error }}</label>
                {%- else %}
                {{ new_bill_form.amount.label() }}
                {%- endfor %}
                {{ new_bill_form.amount(class='form-control', placeholder='123.45', onkeyup='change_user_charge(this)') }}
              </div>

              <div class="form-group {% if new_bill_form.due.errors %}has-error{% endif %}">
                  {%- for error in new_bill_form.due.errors %}
                  <label class="control-label">{{ error }}</label>
                  {%- else %}
                  {{ new_bill_form.due.label() }}
                  {%- endfor %}

                  <div class='input-group date' id='datetimepicker1'>
                      {{ new_bill_form.due(class="form-control") }}
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>

              {{ macros.gen_group(new_bill_form.description) }}

              <br>
              <h4>List of users to charge</h4>
              {% for payment_method in payment_methods %}
              <label class="col-xs-8">{{ payment_method.user.name }}</label>
              <div class="col-xs-4">
                  <input id="user_{{payment_method.user.id}}" name="user_{{payment_method.user.id}}" type="text" class="form-control charge">
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    //Open the modal if there is an error
    var formErrors = {% if new_bill_form.errors %}true{% else %}false{% endif %};
    $(document).ready(function() {
        if (formErrors) {
            $('.modal').modal('show');
        }
    });
</script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $("#datetimepicker1").datetimepicker({
        pickerPosition: "bottom-left",
        format: "yyyy-mm-dd",  // Don't display the time
        autoclose: true,
        startView: 'month',  // This tells it to only pick the date. [https://github.com/smalot/bootstrap-datetimepicker/issues/416]
        maxView: 'month',
        minView: 'month',
    });
</script>
<script type="text/javascript">
    function change_user_charge(input) {
        var amount = parseFloat(input.value);
        if ($.isNumeric(amount)) {
            console.log('asd');
            var charges = $('.charge');
            var per_person = amount / charges.length;
            charges.each(function() {
                this.value = per_person;
            });
        }
    }
    change_user_charge($('#amount')[0]);
</script>
{% endblock %}