{% extends "base.html" %}
{% import "include_html/macros.html" as macros %}
{% import "bills/payment_settings.html" as payment_settings %}

{% block body %}
<div class="row">
    <div class="col-sm-6">
        <h3>Settings for {{ current_user.name }}</h3>
        <form class="form-group" action="/login/settings" method="POST">
            {{ form.hidden_tag() }}

            {{ macros.gen_group(form.name, 'Drew') }}

            {{ macros.gen_group(form.email, '123@abc.com') }}

            {{ macros.gen_group(form.phone_number, '123-456-7890') }}

            {{ form.email_me.label() }}:
            {{ form.email_me() }}

            <!-- TODO add password changer -->

            <br>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <br>
    <div class="col-sm-6">
        {% for field in form %}
        {% if field.description %}{{ field.label()}}: {{ field.description }}<br>{% endif %}
        {% endfor %}
    </div>
</div>
{% if current_user.is_bills %}
    {{ payment_settings.gen_bill_settings(payment_form, '/login/settings') }}
{% else %}
    Does not pay bills
{% endif %}

{% endblock %}