{% extends "base.html" %}
{% import 'include_html/macros.html' as macros %}

{% block extra_header %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block body %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEvent">
  Add Event
</button>

<!-- Modal -->
<div class="modal fade" id="addEvent" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Event</h4>
      </div>
      <div class="modal-body">
          <form class="form-group" action="/events" method="POST">
              {{ event_form.hidden_tag() }}
              {{ macros.gen_group(event_form.name) }}

              <div class="form-group {% if event_form.date.errors %}has-error{% endif %}">
                  {%- for error in event_form.date.errors %}
                  <label class="control-label">{{ error }}</label>
                  {%- else %}
                  {{ event_form.date.label() }}
                  {%- endfor %}

                  <div class='input-group date' id='datetimepicker1'>
                      {{ event_form.date(class="form-control") }}
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>

              {{ macros.gen_group(event_form.description) }}
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>

<h2>Future events</h2>
<br>
{% for event in events %}
    <h4><a href="/events/by-id/{{ event.id }}">{{ event.name }}</a> - <small>{{ event.date_time.date() }} @ {{ event.date_time.strftime("%I:%M %p") }}</small></h4>

    <div class="row" style="padding-left: 1cm">
        {% if event.todos.count() %}
        <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="table-responsive">
                {{ macros.todo_list(event.todos, current_user) }}
            </div>
        </div>
        {% else %}
            No Tasks<br>
            <br>
        {% endif %}
    </div>
{% else %}
        No events
{% endfor %}
{% endblock %}

{% block extrajs %}
<script src="/static/js/todo.js"></script>
<script type="text/javascript">
    //Open the modal if there is an error
    var formErrors = {% if event_form.errors %}true{% else %}false{% endif %};
    $(document).ready(function() {
        if (formErrors) {
            $('.modal').modal('show');
        }
    });
</script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $("#datetimepicker1").datetimepicker({
        pickerPosition: "bottom-left",
        showMeridian: true,
        autoclose: true,
    });
</script>
{% endblock %}