{% extends "base.html" %}
{% import 'include_html/macros.html' as macros %}
{% block body %}
<h1 class="page-header">Welcome to Awesome House!</h1>
<div>
    Rules
    <ol>
        <li>Have fun</li>
        <li>Don't be a douche</li>
    </ol>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="table-responsive">
            <center><h4>Nearing events</h4></center>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for event in events -%}
                    <tr>
                        <td><a href="/events/by-id/{{ event.id }}">{{ event.name }}</a></td>
                        <td>{{ event.date_time.date() }} @ {{ event.date_time.strftime("%I:%M %p") }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>No Events planned</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <center><h4>To-dos</h4></center>
        <div class="table-responsive">
            {{ macros.todo_list(todos, current_user, '<tr><td>No tasks listed</td></tr>') }}
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="/static/js/todo.js"></script>
{% endblock %}