{% extends "base.html" %}

{% block extra_header %}
{% endblock %}

{% block body %}
Current Song: <div id="song_name"></div>
Current Arist: <div id="artist_name"></div>
<button id='next_btn' class="btn btn-default" onclick="next_func();">Next</button>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    var audio = new Audio('/music/get_music');
    audio.play();

    var csrftoken = $('meta[name=csrf-token]').attr('content')
    next_func = function() {
      $.ajax({
        url: '/music/control/next',
        type: 'PUT',
        headers: {"X-CSRFToken": csrftoken}
      });
    }

    update_status = function() {
      $.ajax({
        url: '/music/info/current_song',
        type: 'GET',
        headers: {"X-CSRFToken": csrftoken},
      }).done(function(resp) {
        $('#song_name').html(resp.song);
        $('#artist_name').html(resp.artist);

        setTimeout(update_status, 5000);
      });
    }
    update_status();
</script>
{% endblock %}