{% extends "base.html" %}

{% block body %}
<div class="row">
     <div class="col-sm-6">
        <h3>New Registration</h3>
        <form class="form-group" action="/login/register" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group {% if form.login_name.errors %}has-error{% endif %}">
                {%- for error in form.login_name.errors %}
                <label class="control-label">{{ error }}</label>
                {%- else %}
                {{ form.login_name.label('Username') }}
                {%- endfor %}
                {{ form.login_name(class='form-control', placeholder='EliteHax0r~xoxo') }}
            </div>

            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                {%- for error in form.password.errors %}
                <label class="control-label">{{ error }}</label>
                {%- else %}
                {{ form.password.label('Password') }}
                {%- endfor %}
                {{ form.password(class='form-control', placeholder='secretPassword1984') }}
            </div>

            <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                {%- for error in form.name.errors %}
                <label class="control-label">{{ error }}</label>
                {%- else %}
                {{ form.name.label('Name') }}
                {%- endfor %}
                {{ form.name(class='form-control', placeholder='Drew') }}
            </div>

            <div class="form-group {% if form.email.errors %}has-error{% endif %}">

                {%- for error in form.email.errors %}
                <label class="control-label">{{ error }}</label>
                {%- else %}
                {{ form.email.label('Email') }}
                {%- endfor %}
                {{ form.email(class='form-control', placeholder='123@abc.com') }}
            </div>

            <div class="form-group {% if form.phone_number.errors %}has-error{% endif %}">
                {%- for error in form.phone_number.errors %}
                <label class="control-label">{{ error }}</label>
                {%- else %}
                {{ form.phone_number.label('Phone Number') }}
                {%- endfor %}
                {{ form.phone_number(class='form-control', placeholder='123-456-7890') }}
            </div>


            {{ form.email_me.label }}:
            {% if form.email_me.data %}{{ form.email_me(checked='checked') }}{% else %}{{ form.email_me() }}{% endif %}

            <br>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
     </div>
    <br>
    <div class="col-sm-6">
        Name: The name you prefer to go by<br>
        Email: This is the email you will recieve notifications to<br>
        Phone Number: This is the phone number you will receive reminders to<br>
        Email me for notifications: Do you want to receive emails?
    </div>
</div>

{% endblock %}
