{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="table-responsive">
            <center><h4>Todos</h4></center>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Task</th>
                        <th>Done?</th>
                        <th>Date Done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr id="row_{{ todo.id }}" {% if todo.done %}class="strikeout"{% endif %}>
                        {% if todo.event %}<td>{% if todo.deleted %}<del>{% endif %}<a href="/events/by-id/{{ todo.event.id }}">{{ todo.event.name }}</a>{% if todo.deleted %}</del>{% endif %}</td>{% else %} <td></td>{% endif %}
                        <td>{% if todo.deleted %}<del>{% endif %}<a href="/todos/by-id/{{ todo.id }}">{{ todo.task }}</a>{% if todo.deleted %}</del>{% endif %}</td>
                        {%- if current_user.is_authenticated %}<td>{% if todo.deleted %}<del>{% endif %}<input type="checkbox" data-id="{{ todo.id }}" {% if todo.done %}checked{% endif %} onclick="sendCheckBox(this)">{% if todo.deleted %}</del>{% endif %}</td>{% endif %}
                        <td>{% if todo.deleted %}<del>{% endif %}<div id="date_{{ todo.id }}">{% if todo.date_done %}{{ todo.date_done }}{% endif %}</div>{% if todo.deleted %}</del>{% endif %}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>No tasks listed</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="/static/js/todo.js"></script>
{% endblock %}