{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="table-responsive">
            <center><h4>Todos</h4></center>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Task</th>
                        <th>Done?</th>
                        <th>Date Done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                        {% if todo.event %}<td>{{ todo.event.name }}</td>{% else %} <td></td>{% endif %}
                        <td>{{ todo.task }}</td>
                        <td><input type="checkbox" name="{{ todo.id }}" {% if todo.done %}checked{% endif %} onclick="sendCheckBox(this)"></td>
                        <td><div id="{{ todo.id }}">{% if todo.date_done %}{{ todo.date_done }}{% endif %}</div></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>No tasks listed</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    xmlhttp=new XMLHttpRequest();
    xmlhttp.onreadystatechange=function()
      {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
        var resp = JSON.parse(xmlhttp.responseText);
        console.log("Response Text: " + resp['task_id'] + " " + resp['date_done']);
        var task_date = document.getElementById(resp['task_id']);
        task_date.innerHTML = resp['date_done'];
        }
      }
    function sendCheckBox(cb) {
        console.log( cb.name + " Clicked, new value = " + cb.checked);
        xmlhttp.open("POST", "/todo/status", true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send("id=" + cb.name + "&status=" + cb.checked);
    }
</script>
{% endblock %}